<div class="container">
    <h1>Cadastro de Produtos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Categoria</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                
                    <th>{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="remove(product)">Remover</button>
                    </td>
            </tr>
            
        </tbody>
    </table>
</div>
